<div class="limiter">
    <div class="container-login100" style="background-image: url('/images/login_pic.jpg');">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
            <span class="login100-form-title p-b-49">
  						  SIGN UP
  					</span>
            <%if @errors%>
            <div class="alert alert-danger">
                <ul>
                  <%@errors.each do |error|%>
                  <li><%=error%></li>
                  <%end%>
                </ul>
            </div>
            <%end%>
            <%=form_for @user do |f| %>
            <div class="wrap-input100 validate-input m-b-23">
                <%=f.label :name, :class=>"label-input100"%>
                <%=f.text_field :name, :class=>"input100", placeholder: "Type your username"%>
            </div>
            <div class="wrap-input100" >
                <%=f.label :age, :class=>"label-input100"%>
                <%=f.number_field :age, :class=>"input100", placeholder: "Type your age"%>
            </div>
            <div class="wrap-input100" >
                <%=f.label :email, :class=>"label-input100"%>
                <%=f.email_field :email, :class=>"input100", placeholder: "Type your email"%>
            </div>
            <div class="wrap-input100" >
                <%=f.label :phone, :class=>"label-input100"%>
                <%=f.telephone_field :phone, :class=>"input100", placeholder: "Type your phone number"%>
            </div>
            <div class="wrap-input100" >
                <%=f.label :password, :class=>"label-input100"%>
                <%=f.password_field :password, :class=>"input100", placeholder: "Type your password"%>
            </div>
                <div class="container-login100-form-btn p-t-54">
                  <div class="wrap-login100-form-btn">
                    <div class="login100-form-bgbtn"></div>
                    <button class="login100-form-btn">
                    <%=f.submit 'SIGN UP', class: 'btn'%>
                    </button>
                  </div>
                </div>
                <%end%>
                <div class="txt1 text-center p-t-54 p-b-20">
      						<span>
      							Or Sign Up Using
      						</span>
      					</div>

                <div class="flex-c-m">
      						<a href="#" class="login100-social-item bg1">
      							<i class="fa fa-facebook"></i>
      						</a>

      						<a href="#" class="login100-social-item bg2">
      							<i class="fa fa-twitter"></i>
      						</a>

      						<a href="#" class="login100-social-item bg3">
      							<i class="fa fa-google"></i>
      						</a>
      					</div>

                <div class="flex-col-c p-t-54">
      						<span class="txt1 p-b-17">
      							Already have an account?
      						</span>
                  <%=link_to "LOG IN", login_path%>

                </div>
            </div>
        </div>
   </div>
