<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light site-navbar-target" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="/">RestauReservation</a>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav nav ml-auto">
	          <li class="nav-item"><a href="<%=reservations_path%>" class="nav-link"><span>Home</span></a></li>
	          <li class="nav-item"><a href="<%=reservations_path%>" class="nav-link"><span>My reservations</span></a></li>
	          <li class="nav-item"><a href="<%=location_path%>" class="nav-link"><span>Review</span></a></li>
	          <li class="nav-item"><a href="<%=logout_path%>" class="nav-link"><span>Sign Out</span></a></li>
	          <li class="nav-item cta mr-md-2"><a href="<%=location_path%>" class="nav-link">Make a Reservation</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>

<div class="reservations-container" style="background-image: url('/images/reservations.jpg');">
	<%if @reservations.empty?%>
		<h1><b>You Have no reservations at this time</b></h1>
	<%else%>
  <%@reservations.each_with_index do |val,index|%>
            <div class="col-sm-4 " >
                <div class="reservation-box">
                    <a href="/reservations/<%=val.id%>"><h2><b><%=index+1%></b></h2></a>
                    <h3><b>Restaurant: </b><%=val.restaurant.name%></h3>
                    <h3><b>Date: </b><%=val.date.strftime('%a, %b %e %Y')%></h3>
                    <h3><b>Time: </b><%=val.time.strftime('%H:%M%p')%></h3>
                    <h3><b>Number of people: </b><%=val.number_of_people%></h3>
                </div>
            </div>
              <%end%>
							<%end%>
</div>
