<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light site-navbar-target" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="index.html">Mediplus</a>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav nav ml-auto">
	          <li class="nav-item"><a href="<%=reservations_path%>" class="nav-link"><span>Home</span></a></li>
	          <li class="nav-item"><a href="<%=reservations_path%>" class="nav-link"><span>My reservations</span></a></li>
	          <li class="nav-item"><a href="<%=location_path%>" class="nav-link"><span>Review</span></a></li>
	          <li class="nav-item"><a href="<%=logout_path%>" class="nav-link"><span>Sign Out</span></a></li>
	          <li class="nav-item cta mr-md-2"><a href="<%=location_path%>" class="nav-link">Make a Reservation</a></li>
	        </ul>
	      </div>
	    </div>
</nav>
<div class="limiter">
    <div class="container-login100" style="background-image: url('/images/reservations.jpg');">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
          <%if @errors%>
          <div class="alert alert-danger">
              <ul>
                <%@errors.each do |error|%>
                <li><%=error%></li>
                <%end%>
              </ul>
          </div>
          <%end%>
          <h1>Make a Reservation</h1>
          <%=form_for @reservation do |f|%>
          <%=f.hidden_field :user_id%>
          <%=f.label :date%>
          <%=f.date_field :date%>
          <%=f.label :time%>
          <%=f.time_field :time%>
          <%=f.label :number_of_people%>
          <%=f.number_field :number_of_people%>
          <%=f.label :restaurant%>
          <%=f.collection_select(:restaurant_id, current_user.restaurants, :id, :name)%>
          <%=f.submit%>
          <%end%>
        </div>
      </div>
</div>
