<%=form_tag('/locations')%>
<%=label_tag 'City'%>
<%=text_field_tag 'city'%>
<%=submit_tag%>
<br>
<%if @response%>
<select id="name" name="name">
  <%@response['location_suggestions'].each do |r|%>
  <option value=<%=r['id']%>><%=r['name']%></option>
  <%end%>
</select>

<%elsif (@restau)%>
<select id="restau" name="resta">
  <%@restau['restaurants'].each do |r|%>
  <option value=<%=r['restaurant']['name']%>><%=r['restaurant']['name']%></option>
  <%end%>
</select>

<%end%>
