<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light site-navbar-target" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="/">RestauReservation</a>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav nav ml-auto">
	          <li class="nav-item"><a href="<%=reservations_path%>" class="nav-link"><span>Home</span></a></li>
	          <li class="nav-item"><a href="<%=reservations_path%>" class="nav-link"><span>My reservations</span></a></li>
	          <li class="nav-item"><a href="<%=location_path%>" class="nav-link"><span>Review</span></a></li>
	          <li class="nav-item"><a href="<%=logout_path%>" class="nav-link"><span>Sign Out</span></a></li>
	          <li class="nav-item cta mr-md-2"><a href="<%=location_path%>" class="nav-link">Make a Reservation</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>

<div class="reservations-container" style="background-image: url('/images/location.jpg');">
  <div class="p-l-55 p-r-55 p-t-65 p-b-54">
    <%=form_tag('/locations')%>
    <div class="city validate-input m-b-23">
    <%=label_tag 'City' do %>
   		<h3>Type your restaurant city:</h3>
	 	<%end%>
    <%=text_field_tag 'city',"", class: "city_box", placeholder: "Type a city"%>
    </div>
    <div class="wrap-login100-form-btn">
      <div class="login100-form-bgbtn"></div>
	    <button class="login100-form-btn">
	    <%=submit_tag 'Search',class: 'btn'%>
	    </button>
    </div>
    <br>
    <%if @response%>
      <h3>Please select a city:</h3>
			 <%# display a drop down menu of the available cities %>
      <%=select_tag 'city_id', options_for_select(@response['location_suggestions'].collect{|r| [r['name'],r['id']]})%>
    <%elsif (@cuisine)%>
    <h3>Please select a type of cuisine:</h3>
      <%=select_tag 'cuisine_id', options_for_select(@cuisine['cuisines'].collect{|r| [r['cuisine']['cuisine_name'],r['cuisine']['cuisine_id']]})%>
      <%=hidden_field_tag 'citi_id', @city_id%>

    <%elsif (@restau)%>
    	<h3>Please select a restaurant:</h3>
      <%=select_tag 'restau_id', options_for_select(@restau['restaurants'].collect{|r| [r['restaurant']['name'],r['restaurant']['id']]})%><br><br>
      <%=hidden_field_tag 'cityid', @city_id%>
      <%=hidden_field_tag 'cuisineid', @cuisine_id%>

    <%end%>
		<%=link_to new_reservation_path do %>
		<h5 style="color:purple;">Can't find your restaurant?</h5>
		<% end %>
    </div>
</div>
