<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light site-navbar-target" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="/">RestauReservation</a>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav nav ml-auto">
	          <li class="nav-item"><a href="<%=reservations_path%>" class="nav-link"><span>Home</span></a></li>
	          <li class="nav-item"><a href="<%=reservations_path%>" class="nav-link"><span>My reservations</span></a></li>
	          <li class="nav-item"><a href="<%=location_path%>" class="nav-link"><span>Review</span></a></li>
	          <li class="nav-item"><a href="<%=logout_path%>" class="nav-link"><span>Sign Out</span></a></li>
	          <li class="nav-item cta mr-md-2"><a href="<%=location_path%>" class="nav-link">Make a Reservation</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
<div class="container-login100" style="background-image: url('/images/restaurant.jpg');">
    <div class="restau p-l-55 p-r-55 p-t-65 p-b-54">
        <h1 style="text-align: center;"><b><%=@restaurant.name%></b></h1>
        <h2>Cuisine: <%=@restaurant.cuisine%></h2>
        <h2>Address: <%=@restaurant.address%></h2>
        <h2>Phone number: <%=@restaurant.phone_number%></h2>
        <h2>Rating: <%=@restaurant.rating%>/5</h2>

        <h1>Make a reservation</h1>
				<%if @errors%>
				<div class="alert alert-danger">
						<ul>
							<%@errors.each do |error|%>
							<li><%=error%></li>
							<%end%>
						</ul>
				</div>
				<%end%>
        <%=form_for @reservation do |f|%>
        <%=f.hidden_field :user_id%>
        <b><%=f.label :date%></b>
        <%=f.date_field :date%>
        <b><%=f.label :time%></b>
        <%=f.time_field :time%>
        <b><%=f.label :number_of_people%></b>
        <%=f.number_field :number_of_people%>
        <%=f.hidden_field :restaurant_id%>
        <%=f.submit 'Submit Reservation', :class=>"btn btn-info"%>
        <%end%>

        <h1>Comments:</h1>
        <%=link_to new_restaurant_review_path(@restaurant) do %>
					<h3 style="color:black; text-decoration:underline;">Make a review</h3>
				<% end %>
        <ul class="list-group list-group-flush">
          <%@reviews.each do |review|%>
          <li class="list-group-item list-group-item-secondary"><%=review.content%></li>
          <%end%>
        </ul>
    </div>
</div>
