<h1><%=@restaurant.name%></h1>
<h2>Cuisine: <%=@restaurant.cuisine%></h2>
<h2>Address: <%=@restaurant.address%></h2>
<h2>Phone number: <%=@restaurant.phone_number%></h2>
<h2>Rating: <%=@restaurant.rating%></h2>
