<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light site-navbar-target" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="index.html">Mediplus</a>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav nav ml-auto">
	          <li class="nav-item"><a href="<%=reservations_path%>" class="nav-link"><span>Home</span></a></li>
	          <li class="nav-item"><a href="<%=reservations_path%>" class="nav-link"><span>My reservations</span></a></li>
	          <li class="nav-item"><a href="<%=location_path%>" class="nav-link"><span>Review</span></a></li>
	          <li class="nav-item"><a href="<%=logout_path%>" class="nav-link"><span>Sign Out</span></a></li>
	          <li class="nav-item cta mr-md-2"><a href="<%=location_path%>" class="nav-link">Make a Reservation</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
<div class="container-login100" style="background-image: url('/images/restaurant.jpg');">
    <div class="restau p-l-55 p-r-55 p-t-65 p-b-54">
        <h1 style="text-align: center;"><b><%=@review.restaurant.name%></b></h1>
        <%=form_for @review do |f|%>
        <%= f.hidden_field :user_id %>
        <%= f.hidden_field :restaurant_id %>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><b>Review</b></span>
          </div>
        <%=f.text_area :content, :class => "form-control"%><br>
        </div>
        <%=f.submit 'Submit Review', :class => 'btn btn-secondary btn-lg btn-block'%>
        <%end%>
    </div>
</div>
