<div class="container-login100" style="background-image: url('/images/restaurant.jpg');">
    <div class="restau p-l-55 p-r-55 p-t-65 p-b-54">
        <h1 style="text-align: center;"><b><%=@review.restaurant.name%></b></h1>
        <%=form_for @review do |f|%>
        <%= f.hidden_field :user_id %>
        <%= f.hidden_field :restaurant_id %>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><b>Review</b></span>
          </div>
        <%=f.text_area :content, :class => "form-control"%><br>
        </div>
        <%=f.submit 'Submit Review', :class => 'btn btn-secondary btn-lg btn-block'%>
        <%end%>
    </div>
</div>
